//
// Copyright IBM Corp. 2016, 2023
//
// This source code is licensed under the Apache-2.0 license found in the
// LICENSE file in the root directory of this source tree.
//

@use '../form';
@use '../../config' as *;
@use '../../spacing' as *;
@use '../../theme' as *;
@use '../../type' as *;
@use '../../utilities/component-reset';
@use '../../utilities/convert';
@use '../../utilities/skeleton' as *;
@use '../../utilities/visually-hidden' as *;

@mixin checkbox {
  .#{$prefix}--checkbox-group {
    @include component-reset.reset;
  }

  // Spacing between checkboxes
  .#{$prefix}--form-item.#{$prefix}--checkbox-wrapper {
    position: relative;
    margin-bottom: $spacing-02;
  }

  // Spacing above collection of checkboxes
  .#{$prefix}--form-item.#{$prefix}--checkbox-wrapper:first-of-type {
    margin-top: convert.to-rem(3px);
  }

  // Shift collection of checkboxes up if label is present
  // to account for the 2px top margin for the first checkbox
  .#{$prefix}--label + .#{$prefix}--form-item.#{$prefix}--checkbox-wrapper {
    margin-top: -#{$spacing-01};
  }

  // Spacing below collection of checkboxes
  .#{$prefix}--form-item.#{$prefix}--checkbox-wrapper:last-of-type {
    margin-bottom: convert.to-rem(3px);
  }

  // Visually, we'll hide the checkbox input and create our own styled version
  // to match the specs.
  .#{$prefix}--checkbox {
    @include visually-hidden;
    //even though its hidden, positioning is for native validation to be aligned to checkbox
    top: 1.25rem;
    left: 0.7rem;
  }

  // The label corresponds to the content inside of the `label` tag. Since we're
  // creating our own checkbox style, we'll need to position this in order to
  // accommodate the spacing needed for the checkbox.
  .#{$prefix}--checkbox-label {
    @include reset;
    @include type-style('body-compact-01');

    position: relative;
    display: flex;
    min-height: convert.to-rem(24px);
    padding-top: convert.to-rem(3px);
    padding-left: convert.to-rem(20px);
    cursor: pointer;
    user-select: none;
  }

  .#{$prefix}--checkbox-label-text {
    // Add extra spacing when label is present
    padding-left: convert.to-rem(6px);
  }

  // Required because `$css--reset: true` cannot currently apply to this `::before` and `::after`
  .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-label::after {
    box-sizing: border-box;
  }

  // Spacing for presentational checkbox
  .#{$prefix}--checkbox-label::before {
    // We need to position the pseudo-element absolutely in the space that we've
    // created with the padding from the label itself. We position only with
    // `top` since we don't want the checkbox to be centered vertically with the
    // text overflows.
    position: absolute;
    top: convert.to-rem(2px);
    left: 0;

    // According to the spec, we'll want the bounding box for our checkbox to
    // be 16px. The border size will be what will be updated during the
    // different checkbox states.
    width: convert.to-rem(16px);
    height: convert.to-rem(16px);
    border: 1px solid $icon-primary;
    // increase left margin for #6480
    margin: convert.to-rem(2px) convert.to-rem(2px) convert.to-rem(2px)
      convert.to-rem(3px);

    // Checkboxes with a background color look visually off against a parent container.
    background-color: transparent;
    border-radius: 2px;
    content: '';
  }

  // Create the appearance of the check in the `after` pseudo-element
  .#{$prefix}--checkbox-label::after {
    position: absolute;
    top: convert.to-rem(7.5px);
    left: convert.to-rem(7px);
    width: convert.to-rem(9px);
    height: convert.to-rem(5px);
    border-bottom: 1.5px solid $icon-inverse;
    border-left: 1.5px solid $icon-inverse;
    margin-top: convert.to-rem(-3px) #{'/*rtl:0rem*/'};
    background: none;
    content: '';
    transform: scale(0) rotate(-45deg);
    transform-origin: bottom right #{'/*rtl:center*/'};
  }

  //----------------------------------------------
  // Checked
  // ---------------------------------------------

  // Update properties for checked checkbox
  .#{$prefix}--checkbox:checked + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox:indeterminate + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-label[data-contained-checkbox-state='true']::before {
    border: none;
    border-width: 1px;
    background-color: $icon-primary;
  }

  // Display the check
  .#{$prefix}--checkbox:checked + .#{$prefix}--checkbox-label::after,
  .#{$prefix}--checkbox-label[data-contained-checkbox-state='true']::after {
    transform: scale(1) rotate(-45deg) #{'/*rtl:scale(1.2) rotate3d(.5, 1, 0, 158deg)*/'};
  }

  // Indeterminate symbol
  .#{$prefix}--checkbox:indeterminate + .#{$prefix}--checkbox-label::after {
    top: convert.to-rem(11px);
    width: convert.to-rem(8px);
    border-bottom: 2px solid $icon-inverse;
    border-left: 0 solid $icon-inverse;
    transform: scale(1) rotate(0deg);
  }

  //----------------------------------------------
  // Focus
  // ---------------------------------------------

  // Unchecked
  .#{$prefix}--checkbox:focus + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-label__focus::before,
  // Checked
  .#{$prefix}--checkbox:checked:focus + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-label[data-contained-checkbox-state='true'].#{$prefix}--checkbox-label__focus::before,
  // Indeterminate
  .#{$prefix}--checkbox:indeterminate:focus + .#{$prefix}--checkbox-label::before {
    outline: 2px solid $focus;
    outline-offset: 1px;
  }

  //----------------------------------------------
  // Disabled
  // ---------------------------------------------

  .#{$prefix}--checkbox:disabled + .#{$prefix}--checkbox-label,
  .#{$prefix}--checkbox-label[data-contained-checkbox-disabled='true'] {
    color: $text-disabled;
    cursor: not-allowed;
  }

  .#{$prefix}--checkbox:disabled + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-label[data-contained-checkbox-disabled='true']::before {
    border-color: $icon-disabled;
  }

  .#{$prefix}--checkbox:checked:disabled + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox:indeterminate:disabled
    + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-label[data-contained-checkbox-state='true'][data-contained-checkbox-disabled='true']::before {
    background-color: $icon-disabled;
  }

  //----------------------------------------------
  // Invalid + warn
  // ---------------------------------------------
  .#{$prefix}--checkbox-group[data-invalid] .cds--checkbox-label::before,
  .#{$prefix}--checkbox-wrapper--invalid .cds--checkbox-label::before,
  .#{$prefix}--checkbox-wrapper--invalid
    .#{$prefix}--checkbox:checked
    + .#{$prefix}--checkbox-label::before {
    border: 1px solid $support-error;
  }

  // checkbox group overrides for individual validation checkbox
  .#{$prefix}--checkbox-group
    .#{$prefix}--checkbox-wrapper--invalid
    > .#{$prefix}--checkbox__validation-msg,
  .#{$prefix}--checkbox-group
    .#{$prefix}--checkbox-wrapper--warning
    > .#{$prefix}--checkbox__validation-msg,
  .#{$prefix}--checkbox-group
    .#{$prefix}--checkbox-wrapper
    > .#{$prefix}--form__helper-text {
    display: none;
  }

  .#{$prefix}--checkbox-group:not(.#{$prefix}--checkbox-group[data-invalid])
    .#{$prefix}--checkbox-wrapper--invalid
    .cds--checkbox-label::before,
  .#{$prefix}--checkbox-group:not(.#{$prefix}--checkbox-group[data-invalid])
    .#{$prefix}--checkbox-wrapper--invalid
    .#{$prefix}--checkbox:checked
    + .#{$prefix}--checkbox-label::before {
    border: 1px solid $icon-primary;
  }

  .#{$prefix}--checkbox-group__validation-msg,
  .#{$prefix}--checkbox__validation-msg {
    display: none;
    align-items: flex-start;
    margin-top: $spacing-02;
  }

  .#{$prefix}--checkbox__invalid-icon {
    min-width: convert.to-rem(16px);
    margin: convert.to-rem(1px) convert.to-rem(1px) 0 convert.to-rem(3px);
    fill: $support-error;
  }

  .#{$prefix}--checkbox__invalid-icon--warning {
    fill: $support-warning;
  }

  .#{$prefix}--checkbox__invalid-icon--warning path:first-of-type {
    fill: #000000;
  }

  .#{$prefix}--checkbox-group--invalid
    .#{$prefix}--checkbox-group__validation-msg,
  .#{$prefix}--checkbox-group--warning
    .#{$prefix}--checkbox-group__validation-msg,
  .#{$prefix}--checkbox-wrapper--invalid
    > .#{$prefix}--checkbox__validation-msg,
  .#{$prefix}--checkbox-wrapper--warning
    > .#{$prefix}--checkbox__validation-msg {
    display: flex;
  }

  .#{$prefix}--checkbox-group--invalid
    .#{$prefix}--checkbox-group__validation-msg
    .#{$prefix}--form-requirement,
  .#{$prefix}--checkbox-group--warning
    .#{$prefix}--checkbox-group__validation-msg
    .#{$prefix}--form-requirement,
  .#{$prefix}--checkbox-wrapper--invalid
    .#{$prefix}--checkbox__validation-msg
    .#{$prefix}--form-requirement,
  .#{$prefix}--checkbox-wrapper--warning
    .#{$prefix}--checkbox__validation-msg
    .#{$prefix}--form-requirement {
    display: block;
    overflow: visible;
    max-height: 100%;
    margin-top: 0;
    margin-left: $spacing-03;
  }

  .#{$prefix}--checkbox-group--invalid
    .#{$prefix}--checkbox-group__validation-msg
    .#{$prefix}--form-requirement,
  .#{$prefix}--checkbox-wrapper--invalid
    .#{$prefix}--checkbox__validation-msg
    .#{$prefix}--form-requirement {
    color: $text-error;
  }

  //----------------------------------------------
  // Read-only
  // ---------------------------------------------
  .#{$prefix}--checkbox-group--readonly .#{$prefix}--checkbox-label,
  .#{$prefix}--checkbox-wrapper--readonly .#{$prefix}--checkbox-label {
    cursor: default;
  }

  .#{$prefix}--checkbox-group--readonly .#{$prefix}--checkbox-label-text,
  .#{$prefix}--checkbox-wrapper--readonly .#{$prefix}--checkbox-label-text {
    cursor: text;
    user-select: text;
  }

  .#{$prefix}--checkbox-group--readonly
    .#{$prefix}--checkbox
    + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-wrapper--readonly
    .#{$prefix}--checkbox
    + .#{$prefix}--checkbox-label::before {
    border-color: $icon-disabled;
  }

  .#{$prefix}--checkbox-group--readonly
    .#{$prefix}--checkbox:checked
    + .#{$prefix}--checkbox-label::before,
  .#{$prefix}--checkbox-wrapper--readonly
    .#{$prefix}--checkbox:checked
    + .#{$prefix}--checkbox-label::before {
    border: 1px solid $icon-disabled;
    background: transparent;
  }

  .#{$prefix}--checkbox-group--readonly
    .#{$prefix}--checkbox:checked
    + .#{$prefix}--checkbox-label::after,
  .#{$prefix}--checkbox-wrapper--readonly
    .#{$prefix}--checkbox:checked
    + .#{$prefix}--checkbox-label::after {
    border-color: $text-primary;
  }

  //-----------------------------------------------
  // Skeleton
  //-----------------------------------------------
  .#{$prefix}--checkbox-skeleton .#{$prefix}--checkbox-label {
    cursor: default;
  }

  .#{$prefix}--checkbox-label-text.#{$prefix}--skeleton {
    @include skeleton;

    width: convert.to-rem(100px);
    height: $spacing-05;

    // Add extra spacing when label is present
    margin: convert.to-rem(1px) 0 0 convert.to-rem(6px);
  }

  //-----------------------------------------------
  // InlineCheckbox
  //-----------------------------------------------
  .#{$prefix}--checkbox--inline {
    position: relative;
  }
}
